* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* NAVBAR STYLING */
.navbar {
    margin: 0;
    position: sticky;
    top: 0; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2D499; 
    height: 80px; 
    border: 6px solid #B66C3F; 
}

.navbar .title {
    display: flex;
    font-family: 'VT323', monospace;
    align-items: center;
    height: 100%;
}

.navbar .title img {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.navbar .title span {
    font-size: 5vw; 
    color: #C3612E;
    margin-left: 10px;
}

.navbar .title .winter-span{
    font-size: 4vw;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar ul li {
    margin: 0 0.78vw;
    padding: 0; 
    display: flex; 
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #e0753b; 
    font-size: 1.5vw; 
    font-family: 'Silkscreen', cursive;
    background-color: #FFE0A6;
    padding: 5px 10px; 
    border: 5px solid #D68D52C4; 
    border-left-color: #FFEBB8; 
    border-bottom-color: #FFEBB8; 
    display: inline-block;
    margin: 0; 
    line-height: normal; 
    max-height: 40px;
}

/* Hamburger Menu Styles */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    margin-right: 20px;
}

.line {
    height: 4px;
    width: 30px;
    background-color: #C3612E;
}
/* END OF BURGER */

.festival {
    font-size: 25px;
    display: block;
    text-align: center;
    line-height: 20px;
    letter-spacing: -0.21rem;
}

.one-line {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.navbar ul li a:hover {
    color: #C86730;
}
/* END OF NAVBAR STYLING */

h2{
    font-family: "VT323", monospace;
    margin-top: 0.5rem;
    font-size: 80px;
    color: #C3612E;
}

p, a, .brand{
    margin-top: 0.75rem;
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    text-align: justify;
    width: 95%;
}

a{
    text-decoration: none;
    color: black;
}

.top-images{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px; 
    background: linear-gradient(180deg, rgba(239, 174, 105, 0.78) 0%, #FFE6B6 48.5%, rgba(239, 174, 105, 0.92) 100%);
}

.festival-button {
    display: inline-block; 
    width: 473px; 
    height: 400px; 
    background-size: cover; 
    cursor: pointer; 
    transition: transform 0.2s; 
    margin: 10px; 
}

.festival-button:hover {
    transform: scale(1.05); /* Grows the button on hover */
}

.bottom-row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 10px;
}

.top-image {
    max-width: 100%;
    height: auto; 
    margin: 20px 10px;
}

.season-header{
    position: sticky;
    top: 80px;
    z-index: 500;
}

.supplement {
    width: 70px;      
    height: auto;     
    max-height: none;  
    object-fit: contain; 
}

/* BACKGROUND IMAGE HERO SECTION */
.hero-section, .main-aboutus-page{
    border-top: 0.5vw solid #B66C3F;
    padding: 0.5rem;
    min-height: 30vw;
    background-image: url(media/hero_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;

}

.hero-section h2{
    color: #FFE9BE;
    max-width: 60%;
    padding-top: 5vw;
    filter: drop-shadow(-5px 3px 4.3px rgba(0, 0, 0, 0.3));
    margin-left: 20px;
}

.hero-section p{
    color: white;
    max-width: 50%;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 20px;
    filter: drop-shadow(-5px 3px 4.3px rgba(0, 0, 0, 0.53));
}

.explore-festivals{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 25px;
}

.explore-festivals button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 0.76;
    background-color: #B52121;
    filter: drop-shadow(-5px 3px 4.3px rgba(0, 0, 0, 0.24));
}

.explore-festivals button:hover{
    background-color: #9B1B1B;
}

.explore-festivals h3{
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}

/* END OF HERO SECTION */
.main-aboutus-page h3{
    width: 380px;
    background: linear-gradient(180deg, rgba(239, 174, 105, 0.78) 0%, #FFE6B6 48.5%, rgba(239, 174, 105, 0.92) 100%);
    font-family: 'VT323', monospace;
    color: #B52121;
    font-size: 100px;
    padding: 20px;
}

.main-aboutus-page .border-wrapper{
    margin-left: 20px;
    border-width: 15px;
}

.main-about p{
    background-color: #F5C48A;
    padding: 11px;
    border: 11px solid #DD9E62;
    line-height: 1.75;
    width: 95%;
    justify-content: center;
    margin: 20px auto;
    color: #723c1d;
}

.thanks{
    display: block;
    text-align: center;
    margin: 0;
    font-size: 130%;
    font-style: italic;
}

/* TABLE STYLINGS */
.border-wrapper {
    margin: 10px auto;
    border-style: solid;
    border-width: 25px;
    border-image: url(media/border.png) 20 repeat;
    display: inline-block;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}

th, td {    
    font-family: 'Silkscreen', cursive;
    border: 7px solid #DD9E62;
    padding: 10px;
    text-align: center;
    background-color: #FFE0A6;
}

th, .season-left{
    color: #8C3F16;
}

td{
    color: #C3612E;
}
.darker-color {
    background-color: #F5C48A;
}
/* END OF TABLE STYLINGS */

.form-container {
    display: flex;
    align-items: flex-start;
}

.contact-us{
    background: linear-gradient(180deg, rgba(239, 174, 105, 0.78) 0%, #FFE6B6 48.5%, rgba(239, 174, 105, 0.92) 100%);
}

.question h3{
    font-family: 'VT323', monospace;
    text-align: left;
    font-size: 96px;
    color: #B52121;
    line-height: 0.7;
    padding: 70px 30px 30px 70px;
}

.question-info{ 
    width: 80%;
    margin: 0 auto 50px 20px;
}

.question-info p{
    padding-left: 50px;
    font-size: 20px;
    color: #B66C3F;
}

.question-info img{
    margin-right: 1vw;
}

/* FORM STYLING */
form {
    width: 250vw;
    height: 45vw;
    margin: 20px 50px 20px auto; 
    padding: 20px;
    font-size: 30px;
}

.question-icon{
    height: 25px;
    width: 30px;
    margin-right: 20px;
}

.contact-label{
    font-family: 'Silkscreen', cursive;
    font-weight: normal;
    color: #723c1d;
    padding-bottom: 10px;
}

.class-div {
    margin-bottom: 15px;
}

.class-div:last-child {
    text-align: right;
}

/* Flexbox for first name and last name fields */
.name-group {
    display: flex;
    justify-content: space-between;
}

.name-field {
    width: 48%; 
} 
/* end of first name and last name fields */

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

strong{
    font-weight:bold;
}

em{
    font-style: italic;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    background-color: #FFE0A6;
    color: #723c1d;
    resize: none;
    font-family: 'VT323', monospace;
    border: 6px solid #DD9D62;

}

input::placeholder,
textarea::placeholder {
    color: #c3622e91; 
}

input:focus,
textarea:focus {
    outline: none;
}


.class-div.button-group .submit{
    width: 400px;
    margin-left: 20px;
}

.class-div.button-group .reset{
    width: 250px;
}
/* END OF FORM STYLING */

h1{
    font-family: 'Silkscreen', cursive;
    color: #C3612E;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

h3{
    font-family: 'Silkscreen', cursive;
    color: #AF5B2F;
    text-align: center;
    font-size: 30px;
}

.border-wrapper-audio {
    margin: 10px auto 20px auto;
    border-style: solid;
    border-width: 20px;
    border-image: url(media/border.png) 20 repeat;
    display: inline-block;
    overflow: hidden;
}

.soundtrack-section {
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    padding: 10px; 
    vertical-align: bottom;
    width: 1000px;
}

.table-soundtrack-section{
    background: linear-gradient(180deg, rgba(239, 174, 105, 0.78) 0%, #FFE6B6 48.5%, rgba(239, 174, 105, 0.92) 100%);
    border: 8px solid #B66C3F;
}

/* AUDIO STYLING */
.audio-player {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 100%;
    max-width: 400px;
    margin: 20px auto; 
    background-color: #ffe7bb;
    padding: 10px;
    border: 5px solid #B66C3F;
}

.fa{
    font-size: 35px;
}

button {
    background-color: #DD9E62;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s ease;
    transform: scale(1);
}

button:hover {
    background-color: #C3612E;
    
    transform: scale(1.05);
}

.progress-container {
    width: 500px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative; 
    cursor: pointer;
}

.progress {
    height: 100%;
    background-color: #FF6347;
    width: 0%;
    border-radius: 5px;
}

#play-button {
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#pause-button {
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* END OF AUDIO STYLING */

/* BACKGROUND IMAGE MORNING */
.egg-festival, .flower-dance, .luau, .stardew-fair, .festival-of-ice, .winter-star{
    border-top: 0.5vw solid #B66C3F;
    padding: 0.5rem;
    min-height: 30vw;
    background-image: url(media/stardewbg_morning.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
}


/* BACKGROUND IMAGE MIDDAY */
.desert-festival, .trout-derby, .squidfest{
    border-top: 0.5vw solid #B66C3F;
    padding: 0.5rem;
    min-height: 30vw;
    background-image: url(media/stardewbg_midday.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
}

/* BACKGROUND IMAGE NIGHT */
.moonlight-jellies, .spirits-eve, .night-market{
    border-top: 0.5vw solid #B66C3F;
    padding: 0.5rem;
    min-height: 30vw;
    background-image: url(media/stardewbg_night.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
}

/* FOOTER STYLING */
footer {
    border: 8px solid #B66C3F;
    display: flex;
    flex-direction: column;
    padding-top: 30px; 
    background: linear-gradient(180deg, rgba(239, 174, 105, 0.78) 0%, #FFE6B6 48.5%, rgba(239, 174, 105, 0.92) 100%);
}

.footer-icons, .footer-navbar {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: #C3612E;
}

.footer-icons a img {
    height: 45px;
    width: auto;
    margin-left: 2vw;
    justify-content: center;
}

.footer-icons a{
    width: 7vw;
}

.footer-navbar ul {
    display: flex;
    list-style-type: none;
}

.footer-navbar li {
    margin: 0 1vw;
}

.footer-navbar a {
    font-family: 'Silkscreen', cursive;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}

.footer-navbar a:hover{
    color: #994f24;
}

.signature {
    margin-top: 30px;
    background-color: #B66C3F;
    width: 100%; 
    padding: 20px 0; 
    box-sizing: border-box; 
}

.signature p{
    text-align: center;
    color: #FFF; 
    font-size: 20px; 
    font-family: 'Silkscreen', cursive; 
    margin: 0; 
}

.information{
    margin: 2% 0 2% 1%;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.79);
    max-height: none;
    padding: 10px 10px 50px 20px;
}

.framed {
    float: right;
    max-width: 30vw;
    height: auto; 
}

.stardew-fair::after {
    content: "";
    display: table;
    clear: both;
}

.name-field:last-child {
    margin-left: 4%; 
}

.class-div.button-group {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px; 
}

.class-div.button-group .submit,
.class-div.button-group .reset {
    width: 48%;
}

.question.question-tabletmobile{
    display: none;
}

/* DESKTOP VIEW */
@media screen and (min-width: 1025px){
    .framed-tabletmobile{
        display: none;
    }

    .form-container {
        height: 1000px;
    }
}

/* TABLET VIEW */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .table-soundtrack-section {
        display: none; 
    }

    .supplement{
        display: none;
    }

    .navbar ul li a{
        max-width: none;
        font-size: 1.3vw;
        text-align: center;
    }

    .festival{
        line-height: 1.5vw;
        letter-spacing: -0.1vw;
        font-size: 2vw;
        text-align: center;
    }

    .hero-section {
        text-align: center; 
    }

    .hero-section h2 {
        margin: 5vw auto 0; 
        max-width: 90%; 
    }

    .hero-section p {
        text-align: center;
        margin: 1vw auto; 
        max-width: 90%; 
    }

    .explore-festivals{
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .top-images{
        display: none;
    }

    .framed{
        display: none;
    }

    .framed-tabletmobile{
        margin-left: 1vw;
        height: auto;
        width: 50vw;
    }

    .egg-festival, .desert-festival, .flower-dance, .luau, .trout-derby, .moonlight-jellies, .stardew-fair, .spirits-eve, .festival-of-ice, .squidfest, .night-market, .winter-star {
        display: flex;        
        align-items: center;   
        justify-content: center; 
    }

    .egg-festival img.framed {
        margin-right: 0.5vw;  
    }

    .information h2{
        display: none;
    }

    .information p{
        font-size: 1.7vw;
    }

    /* FOOTER STYLING */
    .footer-icons, .footer-navbar {
        margin: 0.5vw;
    }

    .footer-icons img {
        height: auto;
        width: 4vw;
    }

    .footer-navbar a {
        font-size: 3vw;
    }

    /* ABOUT.HTML */
    .main-aboutus-page h3{
        font-size: 10vw;
    }
    
    .border-wrapper {
        text-align: center;    
    }
    
    .main-aboutus-page {
        text-align: center;      
    }

    /* CONTACT.HTML */
    .form-container {
        flex-direction: column; 
    }

    .clearfix {
        flex-direction: column; 
    }

    .question-info {
        margin: 0 0 0 5vw;
        order: 1;
    }

    form {
        width: 80vw; 
        max-width: 100vw; 
        height: auto;
        margin: 20px auto; 
        padding: 20px;
        font-size: 30px; 
    }

    .name-group {
        display: flex;
        justify-content: space-between;
    }
    
    .name-field {
        width: 48%; 
    }
    
    .name-field:last-child {
        margin-left: 4%; 
    }

    .class-div.button-group {
        display: flex; 
        justify-content: space-between; 
        margin-top: 20px; 
    }
    
    .class-div.button-group .submit,
    .class-div.button-group .reset {
        width: 48%; 
    }

    .question{
        display: none;
    }

    .question.question-tabletmobile{
        display: contents;
    }

    .question.question-tabletmobile h3{
        margin: 0;
        padding: 5vw;
        text-align: center;
    }

    .question-info img{
        margin-right: 1vw;
    }

    .footer-icons a img {
        height: 45px;
        width: auto;
        justify-content: center;
    }
    
    .footer-icons a{
        width: 10vw;
    }
    /* END OF FORM STYLING */
}
/* END OF TABLET VIEW */


/* PHONE VIEW */
@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    .table-soundtrack-section {
        display: none; 
    }

    .navbar{
        top: 0;
        height: 10vw;
    }

    .navbar ul {
        height: auto; 
        top: 100%;
        visibility: hidden; 
        opacity: 0;
        position: absolute;
        padding-right: 0;
        margin-right: 0;
        right: -1.5vw;
        width: 20vw; 
        background-color: #F2D499;
        border: 6px solid #B66C3F;
        z-index: 999; 
        transition: visibility 0s 0.2s, opacity 0.2s ease; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        overflow: hidden;
    }
    

    .season-header{
        position: sticky;
        top: 11vw;
        z-index: 500;
    }

    .navbar .title img{
        width: auto;
        height: 10vw;
    }

    #nav-links {
        padding: 10px;
    }

    .navbar ul.active {
        visibility: visible;
        opacity: 1; 
        transition: opacity 0.3s ease; 
    }

    .navbar ul li {
        list-style: none; 
        width: 17vw; 
        padding: 10px 0; 

    }

    .navbar ul li a{
        font-size: 2vw;
        text-align: center;
    }

    .burger {
        display: flex; 
    }

    #nav-links.active {
        display: flex;
    }

    .navbar #contact-us{
        font-size: 1.5vw;
    }
    
    .top-images{
        display: none;
    }

    .framed{
        display: none;
    }

    .hero-section {
        text-align: center; 
    }

    .hero-section h2 {
        margin: 5vw auto 0; 
        max-width: 90%; 
        font-size: 12vw;
    }

    .hero-section p {
        text-align: center;
        margin: 1vw auto; 
        max-width: 90%; 
        font-size: 5vw;
    }

    .explore-festivals{
        border-radius: 10px;
        margin: 0 auto 50px auto;
    }
    
    .explore-festivals button{
        width: 40vw;
        height: 15vw;
        font-size: 5vw;
        line-height: 0.76;
        background-color: #B52121;
        filter: drop-shadow(-5px 3px 4.3px rgba(0, 0, 0, 0.24));
    }

    .navbar .title span{
        font-size: 10vw;
    }

    .season-header .title span{
        font-size: 9vw;
    }

    .season-header .title .winter-span{
        font-size: 9vw;
    }

    .footer-icons a img {
        height: 5vw;
        width: auto;
    }
    
    .footer-icons a{
        width: 10vw;
    }

    .framed-tabletmobile{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 50vw;
        margin: 0 auto;
    }

    .information h2{
        display: none;
    }

    .information {
        width: 80%;
        margin: 1vw auto 0.5vw auto;
        padding-bottom: 9vw;
    }

    .information p {
        font-size: 3vw;
        text-align: center;
        padding-left: 1vw;
    }
    
    /* FOOTER STYLING */
    .footer-icons, .footer-navbar {
        margin: 0 0.5vw;
    }

    .footer-icons img {
        height: auto;
        width: 4vw;
    }

    .footer-navbar a {
        font-size: 3vw;
    }

    .footer-navbar li{
        padding-top: 2vw;
    }

    .signature {
        margin-top: 30px;
        padding: 10px 0;
    }
    
    .signature p{
        
        text-align: center;
        font-size: 3vw; 
        margin: 0;
    }

    @media screen and (max-width: 548px){
        .supplement{
            display: none;
        }

        .season-header .title span{
            font-size: 10vw;
        }
    
        .season-header .title .winter-span{
            font-size: 10vw;
        }
    }

    @media screen and (max-width: 459px){
        .navbar.mainbar .title span{
            display: none;
        }
    }

    @media screen and (max-width: 322px){
        .footer-navbar ul li{
            margin-top: 10px;
            text-align: center;
            line-height: 2vw;
        }
    }

    /* ABOUT US */
    .main-aboutus-page h3{
        font-size: 10vw;
        width: 50vw;
        padding: 2vw 0;
    }
    
    
    .main-aboutus-page .border-wrapper {
        width: 50vw;
        text-align: center;     
        border-width: 2vw;
        margin: 0 1.5vw 0 3vw;
    }
    
    .main-aboutus-page {
        text-align: center;      
        margin: 0;
    }

    .main-about p{
        width: 85%;
        margin: 2vw auto;
        border-width: 6px;
        font-size: 4vw;
    }

    /* CONTACT.HTML */
    .form-container {
        flex-direction: column;
    }

    .class-div{
        font-size: 5vw;
    }

    .clearfix {
        flex-direction: column;
    }

    .question-info {
        order: 1; 
        margin: 0;
    }

    .question-info p{
        padding-left: 10vw;
    }

    input, textarea{
        border-width: 3px;
        
    }

    form {
        width: 80vw; 
        max-width: 100vw; 
        height: auto; 
        margin: 20px auto;
        padding: 20px;
        font-size: 30px;
    }

    .name-group {
        display: flex;
        justify-content: space-between;
    }
    
    .name-field {
        width: 48%;
    }
    
    .name-field:last-child {
        margin-left: 4%; 
    }

    .class-div.button-group {
        display: flex;
        justify-content: space-between; 
        margin-top: 20px; 
    }
    
    .class-div.button-group .submit,
    .class-div.button-group .reset {
        width: 48%; 
    }

    .question{
        display: none;
    }

    .question.question-tabletmobile{
        display: contents;
        
    }

    .question-tabletmobile h3{
        text-align: center;
        font-size: 15vw;
        padding: 5vw 5vw;
    }

    .question-info p{
        font-size: 3vw;
    }

    .question-info img{
        height: auto;
        width: 5vw;
        margin-right: 1vw;
    }

    .contact-label {
        font-size: 5vw;
    }
    
}

@media print {
    .question, .class-div.button-group button, .question-info img, .navbar, .navbar.mainbar, .navbar.season-header, .hero-section, .footer-icons, .footer-navbar, .burger, .table-soundtrack-section, .top-images, .framed, .framed-tabletmobile, .signature, footer{
        display: none;
    }

    body {
        font-size: 12pt;
        line-height: 1.5;
        color: black;
        
    }

    .main-aboutus-page h3{
        font-size: 30px;
        color: black;
        margin-left: 0px;
    }

    .border-wrapper{
        border: none;
        margin-left: 0px;
    }

    .border-wrapper h3{
        margin-left: 0px;
    }

    .information h2, .question h3{
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .egg-festival, .desert-festival, .flower-dance, .luau, .trout-derby, .moonlight-jellies, .stardew-fair, .spirits-eve, .festival-of-ice, .squidfest, .night-market, .winter-star{
        border: none;
        margin: 0px;
        padding: 0px;
    }

    .spring-festivals, .summer-festivals, .fall-festivals, .winter-festivals{
        margin: 0px;
        padding: 0px;
    }

    .information{
        padding: 0px;
        margin: 0px;
    }

    .information p{
        font-size: 12px;
        width: 140%;
        margin-bottom: 0;
        margin-top: 0;
        
    }

    h1, h2, h3 {
        color: black;
        text-align: left;
        left: 0;
    }

    .main-about p{
        border: none;
        color: black;
        font-size: 12px;
    }

    .center-div, .border-wrapper {
        width: auto;
    }

    .form-container {
        flex-direction: column; 
    }

    .clearfix {
        flex-direction: column; 
    }

    .question-info {
        margin: 0 0 0 5vw;
        order: 1; 
    }

    form {
        width: 80vw; 
        max-width: 100vw; 
        height: auto;
        margin: 20px auto; 
        padding: 20px;
        font-size: 12px; 
    }

    .name-group {
        display: flex;
        justify-content: space-between;
    }
    
    .name-field {
        width: 48%;
    }

    .name-field:last-child {
        margin-left: 4%;
    }

    .class-div.button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .class-div.button-group .submit,
    .class-div.button-group .reset {
        width: 48%;
    }

    .question.question-tabletmobile{
        display: contents;
    }


    .question-info p{
        font-size: 12px;
    }

    .question.question-tabletmobile h3{
        margin: 0;
        padding: 5vw;
        text-align: center;
    }   
}
